<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<form action="/users">
    <label title="Name">
        <input id="firstName" name="firstName" type="text" th:value="${filter.firstName}">
    </label><br/>
    <label title="Lastname">
        <input id="lastName" name="lastName" type="text" th:value="${filter.lastName}">
    </label><br/>
    <label title="Birth Date">
        <input id="birthDate" name="birthDate" type="date" th:value="${filter.birthDate}">
    </label><br/>
    <button type="submit">Filter</button>
    </form><br/>

    <div th:each="user : ${users}">
        <a th:href="@{'/users/'+ ${user.id}}" th:text="|${user.id}. ${user.firstName}  ${user.lastName} - ${user.email}|">User</a>
    </div><br/>

    <form action="/users/signup">
        <button type="submit">Create User</button>
    </form>
</body>
</html>