<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div th:insert="~{fragments::locale}"></div>
<form th:action="@{/login}" method="post">
    <div style="color: red" th:if="${param.error}">User Not found</div>
<!--    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
    <label title="Email">
        <span th:text="#{login.username}" >Username:</span>
        <input name="username" type="text">
    </label><br/>
    <label title="Password">
        <span th:text="#{login.password}" >Password:</span>
        <input name="password" type="password">
    </label><br/>
    <button type="submit">Log in</button>
</form>
<div>Login with: <a href="/oauth2/authorization/google">Google</a></div>

<form action="/users/signup">
    <button type="submit">Sign up</button>
</form>
</body>
</html>