<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>

    <form th:action="@{/users}" method="post" enctype="multipart/form-data" th:object="${user}">
        <label title="Email">Email:
            <input id="email" name="email" type="email" th:value="*{email}">
        </label><br/>
        <label title="Password">Password:
            <input id="rawPassword" name="rawPassword" type="password">
        </label><br/>
        <label title="Name">Name:
            <input id="firstName" name="firstName" type="text"  th:value="*{firstName}">
        </label><br/>
        <label title="Lastname">Lastname:
            <input id="lastName" name="lastName" type="text" th:value="*{lastName}">
        </label><br/>
        <label title="Birth Date">Birth Date:
            <input id="birthDate" name="birthDate" type="date" th:value="*{birthDate}">
        </label><br/>
        <label title="Avatar">Avatar:
            <input id="image" name="image" type="file">
        </label><br/>
        <div th:each="role : ${roles}">
            <input type="radio"
                   name="role"
                   th:id="${role}"
                   th:value="${role}"
                   th:checked="${role == user.role}" />
            <label th:for="${role}" th:text="${role}">Role name</label>
        </div>
        <label title="Company">Company:
            <select id="companyId" name="companyId">
                <option th:value="0"
                        th:text="None"
                        th:selected="${null == user.companyId || 0 == user.companyId}">None</option>
                <option th:each="c : ${companies}"
                        th:value="${c.id}"
                        th:text="${c.name}"
                        th:selected="${user.companyId != null && c.id == user.companyId}">Company</option>
            </select>
        </label><br/>
        <button type="submit">Create</button>
    </form>
    <div th:if="${errors}">
        <p style="color: red" th:each="error : ${errors}" th:text="|${error.defaultMessage}|">Error message</p>
    </div>
</body>
</html>